html,
body {
  height: 100%;
}
body {
  background: linear-gradient(#fff, hsl(150, 30%, 60%));
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  user-select: none;
  width: calc(200px + 20vw);
  border: 3px solid #999;
  border-top-color: #dedede;
  background: linear-gradient(200deg, #999 0%, #333 60%, #222 60%);
  color: #ddd;
  border-radius: 30px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 3px 10px #333;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.leaderbord-list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.score {
  float: right;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.cell {
  width: 50%;
  display: inline-block;
  text-align: center;
}

@keyframes pump {
  from {
    box-shadow: hsl(48, 93%, 58%) 0 0 10px;
  }
  to {
    box-shadow: hsl(48, 93%, 58%) 0 0 15px 4px;
  }
}

.pump-it {
  animation: 0.7s infinite pump;
}
